
.blog {
  li {padding: 10px;}
  a {display: block;overflow: hidden;background-color: #afdfdf;padding: 10px;}
  .blog-thumbnail {width: 20%;float: left;
    img {width: 100%;}
  }
}

.blog-txt {width: 78%;float: right;}





