.article h2, .article-date {display: none;}

.article-content {padding: 0 60px;
  h3 {font-size: 40px;margin-bottom: 15px;
    + p {font-size: 20px;margin-bottom: 55px;}
  }
}

/* swipe設定ここから */
.gallery-thumbs {height: 20%;box-sizing: border-box;padding: 10px 0;}
.gallery-thumbs .swiper-slide {width: 25%;height: 100%;opacity: 0.4;}
.gallery-thumbs .swiper-slide-active {opacity: 1;}
